services:
  vein:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/radical-egg/vein-dedicated-server:latest
    container_name: vein-dedicated-server
    restart: unless-stopped
    ports:
      - "27015:27015/udp" # Steam Query Port
      - "7777:7777/udp" # Game Port
      - "8080:8080/tcp" # HTTP API Port, requires VEIN_SERVER_ENABLE_HTTP_API: true
    volumes:
      - ./data:/home/vein/server # game data and configs like Game.ini Engine.ini
      - ./config:/home/vein/.config/Epic/Vein # Experimental branches store save files here
    environment:
      TZ: America/Los_Angeles
      PUID: 1000 # replace with your users UID
      PGID: 1000 # replace with your users GID
      VEIN_SERVER_AUTO_UPDATE: true
      VEIN_SERVER_NAME: "Vein2Docker"
      VEIN_SERVER_DESCRIPTION: '"Vein Dedicated Server using docker"'
      VEIN_SERVER_PASSWORD: "secret"
      VEIN_SERVER_ENABLE_HTTP_API: true
#      VEIN_SERVER_USE_BETA: true
#      VEIN_SERVER_ADMIN_STEAM_IDS: "12345,12345,12345562312"
#      VEIN_SERVER_SUPER_ADMIN_STEAM_IDS: "12345"
  vein-backup-sidecar:
    build:
      context: .
      dockerfile: backup.Dockerfile
    image: ghcr.io/radical-egg/vein-dedicated-backup:latest
    container_name: vein-dedicated-backup
    volumes:
      - ./data:/data/vein-data:ro
      - ./config:/data/vein-config:ro
      - ./backup:/backup:rw
    environment:
      PUID: 1000 # replace with your users UID
      PGID: 1000 # replace with your users GID
      VEIN_SERVER_BACKUP_INTERVAL_SECONDS: 7200
      VEIN_SERVER_BACKUP_RETENTION: 10 # set to 0 to keep all backups
